<div class="container-app">
  <div class="container-list-task">
    <div class="container-header">
      <span class="header-text">Lista de Tarefas</span>
    </div>
    <form class="container-filter" [formGroup]="form">
      <mat-form-field class="form-field">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status" (selectionChange)="onStatusChange($event)">
          <mat-option value="">Todos</mat-option>
          <mat-option *ngFor="let statusOption of statusOptions" [value]="statusOption">
            {{ statusOption }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <div class="container-mat-table">
      <div class="scroll-mat-table">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="isDone">
            <th class="table-row-element-checkbox" mat-header-cell *matHeaderCellDef></th>
            <td class="table-row-element-checkbox" mat-cell *matCellDef="let task">
              <mat-checkbox [checked]="task.isDone"
                            (change)="onCheckboxChange($event, task)">
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th class="table-row-element"  mat-header-cell *matHeaderCellDef>Tarefas</th>
            <td class="table-row-element" mat-cell *matCellDef="let task">
              {{ task.name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="cpf">
            <th class="table-row-element"  mat-header-cell *matHeaderCellDef>CPF</th>
            <td class="table-row-element"  mat-cell *matCellDef="let task">
              {{ formatCPF(task.cpf) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="responsible">
            <th class="table-row-element"  mat-header-cell *matHeaderCellDef>Responsável</th>
            <td class="table-row-element"  mat-cell *matCellDef="let task">
              {{ task.responsible }}
            </td>
          </ng-container>
          <ng-container matColumnDef="deadline">
            <th class="table-row-element"  mat-header-cell *matHeaderCellDef>Prazo de Entrega</th>
            <td class="table-row-element" mat-cell *matCellDef="let task">
              {{ task.deadline | date:'yyyy-MM-dd' }}
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th class="table-row-element"mat-header-cell *matHeaderCellDef>Status</th>
            <td class="table-row-element" mat-cell *matCellDef="let task">
              <a [ngClass]="getStatusClass(task.status)" class="mat-table-status-row-element">{{ task.status }}</a>
            </td>
          </ng-container>
          <ng-container matColumnDef="deleteTask">
            <th class="table-row-icon" mat-header-cell *matHeaderCellDef></th>
            <td class="table-row-icon" mat-cell *matCellDef="let task">
              <a style="cursor:pointer" (click)="itemActionDeleteClick(task.id)">
                <mat-icon matTooltip="Deletar Tarefa">delete</mat-icon>
              </a>
            </td>
          </ng-container>
          <ng-container matNoDataRow *matNoDataRow>
            <tr class="no-data-row">
              <td colspan="7">Nenhum dado encontrado ou filtro não retornou resultados.</td>
            </tr>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr class="table-row-cell" mat-row *matRowDef="let row; columns: displayedColumns;" style="text-align:center"></tr>
        </table>
      </div>
    </div>
    <div class="container-mat-paginator">
      <mat-paginator class="mat-paginator"
                     [pageSizeOptions]="[05, 10, 15, 20]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </div>
  <button class="button-add-task" (click)="openNewTask()">
    <mat-icon matTooltip="Adicionar Tarefa">add</mat-icon>
  </button>
</div>
