.container-header {
  display: flex;
  justify-content: center;
  color: black;
}
.container-message {
  display: flex;
  justify-content: center;
  padding: 0 0 0.5rem 0
}
.message-text {
  font-size: 1rem;
}

.container-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container-button {
  margin-right: 0.8rem;
}

.cancel-button {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
}
.cancel-button:hover {
  font-size: 1.2rem;
  background-color: #FEECED;
}

.confirm-button {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
}
.confirm-button:hover {
  font-size: 1.2rem;
  background-color: #C3F7D6;
}

button {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
